#main.main.col-md-12

  #header
    .col-md-1
    %a.home-link{href:"/"}
      %h1.app-name Viddy-O

  .col-md-1
  #video-player-div.col-md-5
    / .video-container.empty-state
    /   %span.icon.icon-tv
    %video.video-player{width: "100%", height:"70%", controls: false}
      %source.video-source{src: "", type: "video/mp4"}
    %div
      %div.sequence-header
        %h4#sequence.ui-widget-header Sequence
        %button#save-compilation.btn.buttons Save
        %button#seq-button.btn.buttons Play!
      %div#trash.ui-widget-content.ui-state-default

  .col-md-5#search-holder
    %form#search
      %input#search-input{name: "search", placeholder: 'enter your hashtag'}
      %button#search-button.btn.buttons search
    #search-div.ui-widget.ui-helper-clearfix
      %ul#gallery.gallery.ui-helper-reset.ui-helper-clearfix
        %h2.bounce &#8593; SEARCH
  .col-md-1
