#main.main
  %form#search
    %input#search-input{:placeholder => "search hashtags"}
    %button#search-button search

  #video-player-div
    %video.video-player{width: "320", height:"240", controls: true}
      %source{src: "", type: "video/mp4"}

  / #video-sequence

  / #videos
  /   %h3 these are searched videos

.ui-widget.ui-helper-clearfix
  %h4 Searched Videos
  %ul#gallery.gallery.ui-helper-reset.ui-helper-clearfix

    / <li class="ui-widget-content ui-corner-tr">
    / /<h5 class="ui-widget-header">High Tatras</h5>
    / <video width="96" height="72" controls>
    / <source src="' + url + '" type="video/mp4">
    / </video>
    / <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Sequence It</a>
    / </li>

#trash.ui-widget-content.ui-state-default
  %h4.ui-widget-header Sequence




