%div.col-sm-2
%div.col-sm-8.intro
  <h3> What is <snap class='app-name'>Viddy-O?</span></h3>
  %p Viddy-O is a web app that allows users to search videos from instagram by hashtag, "stitch" them together and view the videos as one compiled video. Collaborate with friends to create video projects and share them with the world!

  .video-container.empty-state#tv
    %span.icon.icon-tv
    %span.icon.icon-tv
    %span.icon.icon-tv

  %br

  = form_for :compilation, :url => {:controller => 'compilations', :action => 'create'}, :html => {:class => "create-compilation-form"} do |f|
    = f.submit 'create a new compilation',:class => 'btn create-compilation-button buttons', :id => 'compilation-button'

