$font: 'Varela Round', sans-serif;
$font-hashtag: 'Nixie One', cursive;

body {
  font-family: $font;
}

h3, h4 {
  font-family: $font;
}

h5 {
  font-family: $font-hashtag;
}

li {
  list-style: none;
}

ul {
  width: 100%;
  display: inline-block;
}

ul#gallery {
  overflow-y:auto;
  height: 500px;
}

#trash {
  height: 100px;
  width: 100%;
  overflow-x:auto;
}

#search-input {
  font-family: $font-hashtag;
  width: 70%;
}

#search-button {
  width: 25%;
}

#header-div {
  background-color: #FB9E2A;
}

#app-name {
  font-family: 'Gloria Hallelujah', cursive;
  color: #4F96CE;
  text-align: center;
}

.home-link:hover {
  text-decoration: none;
}

#video-player-div {
  text-align: center;
}

.intro {
  text-align: center;
  margin-top: 10%;
  h3 {
    margin-bottom: 3%;
  }
  p {
    margin-bottom: 8%;
  }
}

