$font: 'Varela Round', sans-serif;
$font-hashtag: 'Nixie One', cursive;

body {
  font-family: $font;
}

h3, h4 {
  font-family: $font;
}

h5 {
  font-family: $font-hashtag;
}

#search-input {
  font-family: $font-hashtag;
}

#header-div {
  background-color: #FB9E2A;
}

#app-name {
  font-family: 'Gloria Hallelujah', cursive;
  color: #4F96CE;
  text-align: center;
}

.home-link:hover {
  text-decoration: none;
}

#video-player-div {
  text-align: center;
}

.intro {
  text-align: center;
  margin-top: 10%;
  h3 {
    margin-bottom: 3%;
  }
  p {
    margin-bottom: 8%;
  }
}

