#video-sequence {
  width: 100%;
  height: 100%;
  border: 3px dashed black;
}

.sequence {
  border: 1px solid black;
  display: inline-block;
  width: 320px;
  height: 240px;
  background-color: #BDC3C7;
}

#header-div {
  background-color: #FB9E2A;
}

#app-name {
  font-family: 'Gloria Hallelujah', cursive;
  color: #4F96CE;
  text-align: center;
}

#viddy-description {
  font-family: 'Fresca', sans-serif;
  text-align: center;
}

li {
  list-style-type: none;
}

.home-link:hover {
  text-decoration: none;
}

#video-player-div {
  text-align: center;
}

.intro {
  text-align: center;
}

