$font:                'Varela Round', sans-serif;
$font-header:         'Gloria Hallelujah', cursive;
$font-color:          #FEFEFE;
$header-color:        #DD4D66;
$video-background:    #424651;
$background-color:    #32363F;
$button-background:   #FDFEFD;
$button-font-color:   #333333;
$off-white:           #FEFEFE;

// html {
//   overflow: hidden;
// }

body {
  font-family: $font;
  background-color: $background-color;
  color: $font-color;
}

h3, h4 {
  font-family: $font;
}

h5 {
  font-family: $font-header;
  color: $header-color;
}

li {
  list-style: none;
  text-align: center;
}

ul {
  width: 100%;
  display: inline-block;
}

video {
  background-color: $video-background;
  // border: 1px solid $off-white;
}

button {
  background-color: $button-background;
}

a {
  color: $font-color;
}

#gallery {
  background-color: $video-background;
  overflow-y: auto;
  height: 500px;
  width: 100%;
  a {
    float: none;
    display: block;
  }
}


#trash {
  background-color: $video-background;
  height: 100px;
  width: 100%;
  overflow-x:auto;
  text-align: right;
}

#search-input {
  font-family: $font-header;
  width: 70%;
}

#search-button {
  width: 25%;
}

#header {
  background-color: $background-color;
  margin-bottom: 3%;
  h1 {
    text-align: left;
    margin-left: 12%;
  }
}

.app-name {
  font-family: $font-header;
  color: $header-color;
}

.home-link:hover {
  text-decoration: none;
}

#video-player-div {
  text-align: center;
}

.intro {
  text-align: center;
  margin-top: 10%;
  h3 {
    margin-bottom: 3%;
    font-size: 3em;
  }
  p {
    margin-bottom: 5%;
    font-size: 1.5em;
  }
}

.buttons {
  clear: both;
  background-color: $off-white;
  color: $button-font-color;
  width: 25%;
  &:hover {
    background-color: $video-background;
    color: $off-white;
  }
}

.sequence-header {
  width: 100%;
  #sequence {
    margin-top: 2%;
    float: left;
  }
  button {
    float: right;
    clear: none;
    margin-left: 2%;
  }
}

@media (max-width: 1000px) {
  html {
    overflow: auto;
  }
}
