#video-sequence {
  width: 100%;
  height: 100%;
  border: 3px dashed black;
}

.sequence {
  border: 1px solid black;
  display: inline-block;
  width: 320px;
  height: 240px;
  background-color: #BDC3C7;
}