<!DOCTYPE html>
<html>
<head>
  <title>ViddyO</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Euphoria+Script|Parisienne|Gloria+Hallelujah|Amatic+SC' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="row" id="header-div">
    <div class="col-sm-2">
      <h1 id="app-name">Viddy-O</h1>
    </div>
  </div>
  <%= yield %>
</body>
</html>
