<!DOCTYPE html>
<html>
<head>
  <title>ViddyO</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Euphoria+Script|Parisienne|Gloria+Hallelujah|Amatic+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="row" id="header-div">
    <div class="col-md-12">
      <a href="/" class="home-link">
        <h1 id="app-name">Viddy-O</h1>
      </a>
    </div>
  </div>
  <%= yield %>

  <!-- import jQuery UI library -->
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</body>
</html>
